.container{
	margin-top:50px;
}
.column {
  width: 30%;
  text-align: center;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.dimensiones{
	margin-top: 20px;
}
.letra-verde{
	color: #709b1d;
}

.precio {
	font-size: 20px;
	margin-bottom: 15px;
}

.precio-anterior{
	color: #a6a6a6;
	text-decoration:line-through;
	margin-right: 10px;
}

.precio-actual{
	color: #709b1d;
}

.boton-verde{
	background-color:#709b1d;
	color:white !important;
	
}
.boton-verde:hover{
	background-color: #537d08;
	
}
.boton-verde:active{
	background-color: #000000;

}

.by-brand{
	background-color:#709b1d;
	color: white;
}
input[type=checkbox]:checked + label{
	color: #709b1d;
}


.categorias a{
	color: #000000;
	text-decoration:none;
}

.categorias ul {
    margin-left: -20px;
    list-style: none;
}
.categorias li {
     margin-top: -10px;
}

.categorias li a:hover {
	color: #709b1d !important;
}

.ul-brand li:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.1em;
    position: relative;
}

.carousel-img {
	position: relative;
}
.carousel-inner{
	border-width: 2px;
	border-style: solid;
	border-color: grey;
}
.carousel-control-next, .carousel-control-prev{
	padding-bottom: 100px;
}

.carousel-img a{
	opacity: 0.5;
}
.div-miniaturas{
	margin-top: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: grey;
}

.social{
	margin-top:20px;
	font-size:20px;
}
.fa-twitter-square{
	color: #38A1F3;
}
.fa-google-plus-square{
	color: #d34836;
}
.fa-pinterest-square{
	color: #c8232c;
}

.checked {
  color: orange;
}


@media (max-width: 960px){
	.categorias {
		margin-top: 20px;
	}
}

